/*全局*/
.layout{
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    background-color: #ccc;
    /*height: 1000px;*/
}
/*头部*/
.header{
    width: 100%;
    height: 50px;
    background-color: #FF841D;
    font: 700 20px/50px 微软雅黑;
    padding-left: 20px;
    color: #fff;
    box-sizing: border-box;
}
.header a{
    color: #fff;
    font: 700 25px/50px 微软雅黑;
}
.header h2{
        display: inline-block;
        color: #fff;
        font: 700 20px/50px 微软雅黑;
        margin-left: 30%;
}

/*主体*/
.main{
    width: 100%;
    /*margin-top: 10px;*/
    background-color: #fff;
}

.commodity {
    width: 100%;
    overflow: hidden;
    padding:10px;
    box-sizing: border-box;

}
.commodity li{
    overflow: hidden;
    border-bottom: 1px solid #ccc;

}
.commodityLeft{
    margin-top: 5px;
}
.commodityLeft img{
    width: 100px;
    height: 100px;
}
.commodityRight{
    /*width: 100%;*/
    margin-left: 100px;
    padding-left: 10px;

}
.commodityRight h5{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
}
.commodityRight p{
    margin-top:10px;
    color: red;
}
.commodityRight .spanl{
    margin-top: 10px;
    display: block;
}
.commodityRight .spanr{
    margin-top: 10px;
    margin-right: 10px;
}
.commodityRight .spanr span{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/comment.svg") no-repeat;
    background-size: 20px 20px;
    margin-right: 10px;
}
.productFooter {
    width: 100%;
    height: 52px;
    text-align: center;
}

.productFooter a {
    display: inline-block;
    height: 40px;
    width: 60px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    margin-top: 10px;
}

.centent {
    display: inline-block;
    /*position: relative;*/
}
/*.centent > ul {*/
    /*position: absolute;*/
    /*bottom:42px;*/
/*}*/
.productFooter>a:nth-of-type(1) {
    margin-left: 10px;
}

.productFooter .centent #dLabel {
    display: block;
    width: 80px;
}
.centent li {
    position: relative;
    z-index: 1;
    height: 40px;
    width: 80px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
    display: none;
    margin-bottom: -1px;
}

.centent ul li a{
    border:0;
    margin: 0px;
    width: 80px;

}
.productFooter>a:nth-last-of-type(1) {
    margin-right: 10px;
}

/*底部*/
.footer{
    width: 100%;
    height: 100px;
    background-color: #fff;
    text-align: center;
}
.footerH{
    padding-top: 10px;
}
.footerH li{
    width: 33.3%;
    height: 25px;
    border:1px solid #ccc;
    border-bottom:1px solid #ccc;
    float: left;
    border-right: 0;
    box-sizing: border-box;
}
.footerH li:nth-of-type(1){
    border-left: 0;
}
.footer p:nth-of-type(1){
    margin-top: 30px;
}
.footer p a:nth-of-type(1){
    color: red;
}