/*全局*/
.layout {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    /*background-color: #ccc;*/
    /*height: 1000px;*/
}

/*头部*/
.header {
    width: 100%;
    height: 50px;
    background-color: #FF841D;
    /*padding: 10px;*/
}

.logo {
    width: 180px;
    height: 30px;
    background: url("../images/header_logo.png") no-repeat;
    background-size: 180px 30px;
    margin: 10px 0 0 10px;
}

.download {
    width: 35px;
    height: 35px;
    background: url("../images/header_app.png") no-repeat;
    background-size: 35px 35px;
    margin: 10px 10px 0 0;
}

/*搜索*/
.search {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: #fff;
}

.searchTxt {
    width: 100%;
    padding-right: 110px;
    padding-left: 15px;
    box-sizing: border-box;
}

.searchTxt input {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    padding-left: 15px;
}

.searchBtn {
    width: 60px;
    height: 30px;
    background-color: #FF841D;
    margin-top: -32px;
    margin-right: 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #fff;
}

/*主体*/
#main {
    width: 100%;
    background-color: #fff;
    /*height: 1000px;*/
}

.nav {
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
}

.navLeft {
    padding-left: 20px;
}

.navLeft li {
    float: left;
    line-height: 40px;
    padding-right: 10px;
}

.nav .sx {
    width: 50px;
    height: 28px;
    border: 1px solid #ccc;
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    line-height: 28px;
    background-color: #fff;
    border-radius: 5px;
}

/*产品*/
.product {
    width: 100%;
}

.media {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.mediaLeft img {
    width: 100px;
    height: 100px;
}

.mediaRight {
    padding-left: 110px;
}

.mediaRight h5 {
    margin-top: 10px;
}

.mediaRight h5 a {
    font: 700 13px 微软雅黑;
    padding-right: 10px;
}

.mediaRight p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 12px;
}

.mediaRight span {
    font-size: 12px;
}

.productFooter {
    width: 100%;
    height: 52px;
    text-align: center;
}

.productFooter a {
    display: inline-block;
    height: 40px;
    width: 60px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    margin-top: 10px;
}

.centent {
    display: inline-block;
}

.productFooter a:nth-of-type(1) {
    margin-left: 10px;
}

.productFooter .centent #dLabel {
    display: block;
    width: 80px;
}
.centent li {
    position: relative;
    z-index: 1;
    height: 40px;
    width: 80px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
    display: none;
}

.productFooter a:nth-last-of-type(1) {
    margin-right: 10px;
}

/*底部*/
.footer {
    width: 100%;
    height: 100px;
    background-color: #fff;
    text-align: center;
}

.footerH {
    padding-top: 10px;
}

.footerH li {
    width: 33.3%;
    height: 25px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    border-right: 0;
    box-sizing: border-box;
}

.footerH li:nth-of-type(1) {
    border-left: 0;
}

.footer p:nth-of-type(1) {
    margin-top: 30px;
}

.footer p a:nth-of-type(1) {
    color: red;
}